<div class="login-container">
  <div class="login-card">
    <div class="login-image">
      <img class="imagem" src="https://t4.ftcdn.net/jpg/04/28/75/97/360_F_428759715_jsOPITlaytE3QXc2yI1D4U6uwZdVGkRp.jpg">
    </div>

    <form class="login-form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <div class="login-header">
        <h2>Seja Bem-Vindo!</h2>
        <p>Crie sua conta para continuar</p>
      </div>

      <div class="input-group">
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          name="name"
          [(ngModel)]="name"
          required
          placeholder="João da Silva"
        />
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="seuemail@exemplo.com"
        />
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="••••••••"
        />
      </div>

      <fieldset class="input-group">
        <legend>Escolha seu perfil:</legend>
        <div class="radio-select">
          <label>
            <input
              type="radio"
              name="role"
              [(ngModel)]="role"
              value="teacher"
              required
            />
            Professor
          </label>
          <label>
            <input
              type="radio"
              name="role"
              [(ngModel)]="role"
              value="student"
              required
            />
            Aluno
          </label>
        </div>
      </fieldset>

      <button type="submit" class="login-button">Registrar</button>

      <a href="login" class="link-register">Já tem conta? Clique aqui para entrar</a>

      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }
    </form>
  </div>
</div>
