<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Monitoria</title>
</head>
<body>
<app-navbar></app-navbar>

<div class="mentorship-form-wrapper">
  <h2>Cadastrar Monitoria</h2>

  <form (ngSubmit)="createMentorship()" #mentorshipForm="ngForm" class="mentorship-form">
    <div class="form-group">
      <label for="subject">Título:</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="mentorship.title"
        name="title"
        required
      />
    </div>
    <div class="form-group">
      <label for="subject">Descrição:</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="mentorship.description"
        name="description"
        required
      />
    </div>
    <div class="form-group">
      <label for="subject">Matéria:</label>
      <input
        type="text"
        id="subject"
        [(ngModel)]="mentorship.subject"
        name="subject"
        required
      />
    </div>

    <div class="form-group">
      <label for="type">Tipo de Mentoria:</label>
      <select
        id="type"
        [(ngModel)]="mentorship.type"
        name="type"
        required
      >
        <option value="PARTICULAR">Aula Particular</option>
        <option value="VIDEO">Vídeo-aula</option>
        <option value="PDF">PDFs</option>
        <option value="OTHER">Outro</option>
      </select>
    </div>

    <div class="form-group">
      <label for="contactLink">Link para contato:</label>
      <input
        type="url"
        id="contactLink"
        [(ngModel)]="mentorship.contactLink"
        name="contactLink"
        required
      />
    </div>

    <button type="submit">Criar Monitoria</button>
  </form>
</div>



</body>
</html>
